header {
    margin: 20px;
}

table {
    width: 90%;
    border: solid 1px black;
    border-collapse: collapse;
    margin: 20px;
}

tr {
    border: solid 1px black;
}

td.date-row {
    text-align: center;
}

td.capital-row {
    text-align: right;
}

td.raceCount-row {
    text-align: right;
}

td.collectRateAll-row {
    text-align: right;
}

td.amountPurchasedAll-row {
    text-align: right;
}

td.collectAll-row {
    text-align: right;
}

td.differenceAll-row {
    text-align: right;
}

td.nextCapital-row {
    text-align: right;
}

td.hittingRate {
    text-align: right;
}

td.collectRate {
    text-align: right;
}

td.collect {
    text-align: right;
}

td.amountPurchasedRate {
    text-align: right;
}

td.amountPurchased {
    text-align: right;
}

td.entryRaceCountRate {
    text-align: right;
}

td.entryRaceCount {
    text-align: right;
}

tr.race-header {
    color: white;
    background-color: darkgreen;
}

tr.bet-hit {
    background-color: gold;
}

th {
    border: solid 1px black;
}

th.type-header {
    width: 10%;
}

th.numberset-header {
    width: 10%;
}

th.percent-header {
    width: 10%;
}

th.bet-header {
    width: 10%;
}

th.preOdds-header {
    width: 10%;
}

th.expectedValue-header {
    width: 10%;
}

th.preDividend-header {
    width: 10%;
}

th.odds-header {
    width: 6%;
}

th.dividend-header {
    width: 10%;
}

td {
    border: solid 1px black;
}

td.type-3t仮定 {
    text-align: center;
}

td.type-3t {
    text-align: center;
    color: white;
    background-color: red;
}

td.type-3f {
    text-align: center;
    color: white;
    background-color: green;
}

td.type-2t {
    text-align: center;
    color: white;
    background-color: blue;
}

td.type-2f {
    text-align: center;
    background-color: yellow;
}

td.numberset {
    text-align: center;
}

td.percent {
    text-align: right;
}

td.bet {
    text-align: right;
}

td.preOdds {
    text-align: right;
}

td.expectedValue {
    text-align: right;
}

td.preDividend {
    text-align: right;
}

td.odds {
    text-align: right;
}

td.dividend {
    text-align: right;
}

td.difference-plus {
    text-align: right;
    color: green;
    background-color: white;
}

td.difference-minus {
    text-align: right;
    color: red;
    background-color: white;
}
